.main{
    background-image: radial-gradient(rgba(15, 7, 7, 0.73), rgba(17, 6, 6, 0.576)), url(/back1mobile.webp);
    background-size: cover;
    height: 100vh;
    
}
.section{
    position: relative;
    right: -50px;
    opacity: 0;
    transition: opacity 3s, transform 1s;
  }
  .visible{
    opacity: 1;
    transform: translateX(-30px);
  }
.sect{
    position: relative;
    left: -50px;
    opacity: 0;
    transition: opacity 3s, transform 1s;
  }
  .visi{
    opacity: 1;
    transform: translateX(30px);
  }
